/* You can add global styles to this file, and also import other style files */

nav div {
  height: 5.5em;
  background-color: #1a75ff;
  margin: 0px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 {
  margin: 0;
  color: white;
}

body {
  margin: 0px;
  clear: both;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
