<div class="jumbotron text-center blue-grey lighten-5">

  <h2 class="card-title h2">Click the button for a joke!</h2>

  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4 pb-2">

  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Generate!</a>
</div>

