<div class="jumbotron text-center blue-grey lighten-5">

  <h2 class="card-title h2">Click the button for a joke!</h2>

  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">{{jokePrompt}}</p>
      <p class="card-text">{{punchLine}}</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4 pb-2">

  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click) = "getJoke()">Generate!</a>
</div>

